In [1]:
import pandas as pd

In [2]:
ca_file = r'../../data/demographics/cc-est2019-alldata-06.csv'
ca = pd.read_csv(ca_file)
ca.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,50,6,1,California,Alameda County,1,0,1510271,740573,769698,...,152378,145672,9669,10329,11266,10676,8261,8478,2160,2325
1,50,6,1,California,Alameda County,1,1,97652,50259,47393,...,14619,13768,1430,1348,1170,1008,1224,1245,317,313
2,50,6,1,California,Alameda County,1,2,94546,48145,46401,...,13336,13015,1124,1149,996,931,1049,952,242,249
3,50,6,1,California,Alameda County,1,3,91070,46403,44667,...,12590,12075,957,996,922,925,844,811,214,211
4,50,6,1,California,Alameda County,1,4,100394,51445,48949,...,12752,12317,951,916,945,952,800,766,218,229

In [3]:
fl_file = r'../../data/demographics/cc-est2019-alldata-12.csv'
fl = pd.read_csv(fl_file)
fl.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,50,12,1,Florida,Alachua County,1,0,247336,119786,127550,...,9204,9808,782,884,228,237,208,242,15,29
1,50,12,1,Florida,Alachua County,1,1,13068,6703,6365,...,563,577,88,101,15,29,14,23,0,3
2,50,12,1,Florida,Alachua County,1,2,11739,5913,5826,...,519,448,75,72,14,20,15,19,1,3
3,50,12,1,Florida,Alachua County,1,3,11669,5992,5677,...,439,456,55,59,22,21,15,8,1,2
4,50,12,1,Florida,Alachua County,1,4,23589,10942,12647,...,1204,1459,110,107,28,26,29,62,3,2

In [4]:
ga_file = r'../../data/demographics/cc-est2019-alldata-13.csv'
ga = pd.read_csv(ga_file)
ga.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,50,13,1,Georgia,Appling County,1,0,18236,9159,9077,...,926,621,48,42,21,26,6,4,24,0
1,50,13,1,Georgia,Appling County,1,1,1306,647,659,...,117,106,7,7,3,3,1,0,1,0
2,50,13,1,Georgia,Appling County,1,2,1286,658,628,...,84,78,6,5,2,4,1,0,1,0
3,50,13,1,Georgia,Appling County,1,3,1331,703,628,...,87,63,1,7,3,2,1,1,4,0
4,50,13,1,Georgia,Appling County,1,4,1254,691,563,...,86,58,8,3,0,4,0,0,3,0

In [5]:
ny_file = r'../../data/demographics/cc-est2019-alldata-36.csv'
ny = pd.read_csv(ny_file)
ny.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,...,HWAC_MALE,HWAC_FEMALE,HBAC_MALE,HBAC_FEMALE,HIAC_MALE,HIAC_FEMALE,HAAC_MALE,HAAC_FEMALE,HNAC_MALE,HNAC_FEMALE
0,50,36,1,New York,Albany County,1,0,304204,147076,157128,...,5236,5416,2125,2295,361,410,139,141,41,41
1,50,36,1,New York,Albany County,1,1,15286,7821,7465,...,488,514,288,277,44,40,18,12,5,3
2,50,36,1,New York,Albany County,1,2,16131,8224,7907,...,452,443,275,258,31,36,15,11,5,3
3,50,36,1,New York,Albany County,1,3,17639,9065,8574,...,448,435,230,204,33,28,13,12,2,1
4,50,36,1,New York,Albany County,1,4,23752,11925,11827,...,632,627,271,283,50,46,16,15,4,6

In [6]:
def collapse_file(df):
    df = df.drop(['SUMLEV', 'STATE', 'COUNTY', 'CTYNAME'], axis=1)
    df = df[(df['YEAR']==1) | (df['YEAR']==12)]
    age_desc = {0: 'Total'
    ,1: '0-4'
    ,2 : '5-9'
    ,3 : '10-14'
    ,4 : '15-19'
    ,5 : '20-24'
    ,6 : '25-29'
    ,7 : '30-34'
    ,8 : '35-39'
    ,9 : '40-44'
    ,10 : '45-49'
    ,11 : '50-54'
    ,12 : '55-59'
    ,13 : '60-64'
    ,14 : '65-69'
    ,15 : '70-74'
    ,16 : '75-79'
    ,17 : '80-84'
    ,18 : '85_plus'}
    df['AGEGRP'] = df['AGEGRP'].replace(age_desc)
    year_desc = {1: '2010 Census', 12: '2019 Estimate'}
    df['YEAR'] = df['YEAR'].replace(year_desc)
    rst = df.groupby(['STNAME', 'YEAR', 'AGEGRP']).sum().reset_index()
    return rst

In [7]:
out_ny = collapse_file(ny)
out_ca = collapse_file(ca)
out_fl = collapse_file(fl)
out_ga = collapse_file(ga)

In [9]:
path = '../../data/demographics/'
out_ny.to_csv(path + 'NY_ST_Demo.csv', index=False)
out_ca.to_csv(path + 'CA_ST_Demo.csv', index=False)
out_fl.to_csv(path + 'FL_ST_Demo.csv', index=False)
out_ga.to_csv(path + 'GA_ST_Demo.csv', index=False)