In [1]:
import pandas as pd
import c3aidatalake

In [2]:
def get_JHU(state):
    today = pd.Timestamp.now().strftime("%Y-%m-%d")
    rst = c3aidatalake.evalmetrics(
        "outbreaklocation",
        {
            "spec" : {
                "filter": "contains(id, '{}')".format(state),
                #"filter": """contains(id, 'Georgia') || contains(id, 'Florida') 
                #            || contains(id, 'California') || contains(id, 'NewYork')""",
                "expressions" : ['JHU_ConfirmedCases', 'JHU_ConfirmedDeaths', 'JHU_ConfirmedRecoveries'],
                "start" : '2020-01-01',
                "end" : today,
                "interval" : "DAY",
            }
        }
    )
    rst['dates'] = rst['dates'].astype(str)
    out = rst.T.reset_index()
    out.columns = out.iloc[0]
    out = out.iloc[1:]
    #out.insert(0, 'measure', out['dates'].apply(lambda x: x.split('UnitedStates.')[1]+'.'+x.split('UnitedStates.')[2]))
    out.insert(0, 'measure', out['dates'].apply(lambda x: 'JHU' + x.split('JHU')[1]))
    out.insert(0, 'state', state)
    out.drop(['dates'], axis=1, inplace=True)
    out = out.groupby(['state', 'measure']).sum().reset_index()
    return out

In [3]:
ga = get_JHU('Georgia')
ga

,state,measure,2020-01-01,2020-01-02,2020-01-03,2020-01-04,2020-01-05,2020-01-06,2020-01-07,2020-01-08,...,2020-10-14,2020-10-15,2020-10-16,2020-10-17,2020-10-18,2020-10-19,2020-10-20,2020-10-21,2020-10-22,2020-10-23
0,Georgia,JHU_ConfirmedCases.data,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,686065.0,690264.0,694369.0,698395.0,700761.0,704625.0,708075.0,712050.0,712050.0,712050.0
1,Georgia,JHU_ConfirmedCases.missing,1900.0,1900.0,1900.0,1900.0,1900.0,1900.0,1900.0,1900.0,...,500.0,500.0,500.0,500.0,500.0,500.0,500.0,500.0,500.0,500.0
2,Georgia,JHU_ConfirmedDeaths.data,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,15180.0,15228.0,15367.0,15473.0,15543.0,15588.0,15637.0,15711.0,15711.0,15711.0
3,Georgia,JHU_ConfirmedDeaths.missing,1900.0,1900.0,1900.0,1900.0,1900.0,1900.0,1900.0,1900.0,...,500.0,500.0,500.0,500.0,500.0,500.0,500.0,500.0,500.0,500.0
4,Georgia,JHU_ConfirmedRecoveries.data,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Georgia,JHU_ConfirmedRecoveries.missing,18100.0,18100.0,18100.0,18100.0,18100.0,18100.0,18100.0,18100.0,...,18100.0,18100.0,18100.0,18100.0,18100.0,18100.0,18100.0,18100.0,18100.0,18100.0

In [4]:
ca = get_JHU('California')
ca

,state,measure,2020-01-01,2020-01-02,2020-01-03,2020-01-04,2020-01-05,2020-01-06,2020-01-07,2020-01-08,...,2020-10-14,2020-10-15,2020-10-16,2020-10-17,2020-10-18,2020-10-19,2020-10-20,2020-10-21,2020-10-22,2020-10-23
0,California,JHU_ConfirmedCases.data,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1782877.0,1788981.0,1795324.0,1800248.0,1804580.0,1812684.0,1820994.0,1827585.0,1827585.0,1827585.0
1,California,JHU_ConfirmedCases.missing,5700.0,5700.0,5700.0,5700.0,5700.0,5700.0,5700.0,5700.0,...,4200.0,4200.0,4200.0,4200.0,4200.0,4200.0,4200.0,4200.0,4200.0,4200.0
2,California,JHU_ConfirmedDeaths.data,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,39877.0,40103.0,40275.0,40382.0,40433.0,40446.0,40612.0,40843.0,40843.0,40843.0
3,California,JHU_ConfirmedDeaths.missing,5700.0,5700.0,5700.0,5700.0,5700.0,5700.0,5700.0,5700.0,...,4200.0,4200.0,4200.0,4200.0,4200.0,4200.0,4200.0,4200.0,4200.0,4200.0
4,California,JHU_ConfirmedRecoveries.data,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,California,JHU_ConfirmedRecoveries.missing,11500.0,11500.0,11500.0,11500.0,11500.0,11500.0,11500.0,11500.0,...,11500.0,11500.0,11500.0,11500.0,11500.0,11500.0,11500.0,11500.0,11500.0,11500.0

In [5]:
fl = get_JHU('Florida')
fl

,state,measure,2020-01-01,2020-01-02,2020-01-03,2020-01-04,2020-01-05,2020-01-06,2020-01-07,2020-01-08,...,2020-10-14,2020-10-15,2020-10-16,2020-10-17,2020-10-18,2020-10-19,2020-10-20,2020-10-21,2020-10-22,2020-10-23
0,Florida,JHU_ConfirmedCases.data,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1527916.0,1534628.0,1541526.0,1549614.0,1554692.0,1558110.0,1565434.0,1569722.0,1569722.0,1569722.0
1,Florida,JHU_ConfirmedCases.missing,2900.0,2900.0,2900.0,2900.0,2900.0,2900.0,2900.0,2900.0,...,2100.0,2100.0,2100.0,2100.0,2100.0,2100.0,2100.0,2100.0,2100.0,2100.0
2,Florida,JHU_ConfirmedDeaths.data,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,32361.0,32643.0,32831.0,33005.0,33105.0,33213.0,33381.0,33591.0,33591.0,33591.0
3,Florida,JHU_ConfirmedDeaths.missing,2900.0,2900.0,2900.0,2900.0,2900.0,2900.0,2900.0,2900.0,...,2100.0,2100.0,2100.0,2100.0,2100.0,2100.0,2100.0,2100.0,2100.0,2100.0
4,Florida,JHU_ConfirmedRecoveries.data,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Florida,JHU_ConfirmedRecoveries.missing,9900.0,9900.0,9900.0,9900.0,9900.0,9900.0,9900.0,9900.0,...,9900.0,9900.0,9900.0,9900.0,9900.0,9900.0,9900.0,9900.0,9900.0,9900.0

In [6]:
ny = get_JHU('NewYork')
ny

,state,measure,2020-01-01,2020-01-02,2020-01-03,2020-01-04,2020-01-05,2020-01-06,2020-01-07,2020-01-08,...,2020-10-14,2020-10-15,2020-10-16,2020-10-17,2020-10-18,2020-10-19,2020-10-20,2020-10-21,2020-10-22,2020-10-23
0,NewYork,JHU_ConfirmedCases.data,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,960135.0,963055.0,966469.0,970037.0,972817.0,974813.0,977215.0,981267.0,981267.0,981267.0
1,NewYork,JHU_ConfirmedCases.missing,2000.0,2000.0,2000.0,2000.0,2000.0,2000.0,2000.0,2000.0,...,1200.0,1200.0,1200.0,1200.0,1200.0,1200.0,1200.0,1200.0,1200.0,1200.0
2,NewYork,JHU_ConfirmedDeaths.data,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,66919.0,66961.0,66961.0,66981.0,67001.0,67019.0,67019.0,67029.0,67029.0,67029.0
3,NewYork,JHU_ConfirmedDeaths.missing,1900.0,1900.0,1900.0,1900.0,1900.0,1900.0,1900.0,1900.0,...,1200.0,1200.0,1200.0,1200.0,1200.0,1200.0,1200.0,1200.0,1200.0,1200.0
4,NewYork,JHU_ConfirmedRecoveries.data,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,NewYork,JHU_ConfirmedRecoveries.missing,8100.0,8100.0,8100.0,8100.0,8100.0,8100.0,8100.0,8100.0,...,8100.0,8100.0,8100.0,8100.0,8100.0,8100.0,8100.0,8100.0,8100.0,8100.0

In [7]:
path = '../../data/cases/'
ga.to_csv(path + 'GA_JHU_cases', index=False)
ca.to_csv(path + 'CA_JHU_cases', index=False)
fl.to_csv(path + 'FL_JHU_cases', index=False)
ny.to_csv(path + 'NY_JHU_cases', index=False)