In [1]:
import pandas as pd
import c3aidatalake

In [2]:
def get_JHU(state):
    today = pd.Timestamp.now().strftime("%Y-%m-%d")
    rst = c3aidatalake.evalmetrics(
        "outbreaklocation",
        {
            "spec" : {
                "filter": "contains(id, '{}')".format(state),
                #"filter": """contains(id, 'Georgia') || contains(id, 'Florida') 
                #            || contains(id, 'California') || contains(id, 'NewYork')""",
                "expressions" : ['JHU_ConfirmedCases', 'JHU_ConfirmedDeaths', 'JHU_ConfirmedRecoveries'],
                "start" : '2020-01-01',
                "end" : today,
                "interval" : "DAY",
            }
        }
    )
    rst['dates'] = rst['dates'].astype(str)
    out = rst.T.reset_index()
    out.columns = out.iloc[0]
    out = out.iloc[1:]
    #out.insert(0, 'measure', out['dates'].apply(lambda x: x.split('UnitedStates.')[1]+'.'+x.split('UnitedStates.')[2]))
    out.insert(0, 'measure', out['dates'].apply(lambda x: 'JHU' + x.split('JHU')[1]))
    #out.insert(0, 'state', state)
    out.drop(['dates'], axis=1, inplace=True)
    #out = out.groupby(['state', 'measure']).sum().reset_index()
    out = out.groupby(['measure']).sum().reset_index()
    out['measure'] = out.apply(lambda row: state + '.' + row['measure'], axis=1)
    ts = out.T
    ts.columns = ts.iloc[0]
    ts = ts[1:].reset_index()
    ts.rename({0:'date'}, axis=1,inplace=True)
    return ts
    #return out

In [3]:
ga = get_JHU('Georgia')
ga

measure,date,Georgia.JHU_ConfirmedCases.data,Georgia.JHU_ConfirmedCases.missing,Georgia.JHU_ConfirmedDeaths.data,Georgia.JHU_ConfirmedDeaths.missing,Georgia.JHU_ConfirmedRecoveries.data,Georgia.JHU_ConfirmedRecoveries.missing
0,2020-01-01,0,1900,0,1900,0,18100
1,2020-01-02,0,1900,0,1900,0,18100
2,2020-01-03,0,1900,0,1900,0,18100
3,2020-01-04,0,1900,0,1900,0,18100
4,2020-01-05,0,1900,0,1900,0,18100
...,...,...,...,...,...,...,...
297,2020-10-24,725918,500,15888,500,0,18100
298,2020-10-25,729599,500,15898,500,0,18100
299,2020-10-26,732438,500,15931,500,0,18100
300,2020-10-27,734647,500,15959,500,0,18100
301,2020-10-28,734652,500,15959,500,0,18100

In [4]:
ca = get_JHU('California')
ca

measure,date,California.JHU_ConfirmedCases.data,California.JHU_ConfirmedCases.missing,California.JHU_ConfirmedDeaths.data,California.JHU_ConfirmedDeaths.missing,California.JHU_ConfirmedRecoveries.data,California.JHU_ConfirmedRecoveries.missing
0,2020-01-01,0,5700,0,5700,0,11500
1,2020-01-02,0,5700,0,5700,0,11500
2,2020-01-03,0,5700,0,5700,0,11500
3,2020-01-04,0,5700,0,5700,0,11500
4,2020-01-05,0,5700,0,5700,0,11500
...,...,...,...,...,...,...,...
297,2020-10-24,1.84955e+06,4200,41115,4200,0,11500
298,2020-10-25,1.85302e+06,4200,41133,4200,0,11500
299,2020-10-26,1.86271e+06,4200,41206,4200,0,11500
300,2020-10-27,1.86978e+06,4200,41314,4200,0,11500
301,2020-10-28,1.87026e+06,4200,41315,4200,0,11500

In [5]:
fl = get_JHU('Florida')
fl

measure,date,Florida.JHU_ConfirmedCases.data,Florida.JHU_ConfirmedCases.missing,Florida.JHU_ConfirmedDeaths.data,Florida.JHU_ConfirmedDeaths.missing,Florida.JHU_ConfirmedRecoveries.data,Florida.JHU_ConfirmedRecoveries.missing
0,2020-01-01,0,2900,0,2900,0,9900
1,2020-01-02,0,2900,0,2900,0,9900
2,2020-01-03,0,2900,0,2900,0,9900
3,2020-01-04,0,2900,0,2900,0,9900
4,2020-01-05,0,2900,0,2900,0,9900
...,...,...,...,...,...,...,...
297,2020-10-24,1.59042e+06,2100,33907,2100,0,9900
298,2020-10-25,1.59379e+06,2100,33919,2100,0,9900
299,2020-10-26,1.60271e+06,2100,33983,2100,0,9900
300,2020-10-27,1.60949e+06,2100,34066,2100,0,9900
301,2020-10-28,1.60949e+06,2100,34066,2100,0,9900

In [ ]:
ny = get_JHU('NewYork')
ny

In [ ]:
path = '../../data/cases/'
ga.to_csv(path + 'GA_JHU_cases.csv', index=False)
ca.to_csv(path + 'CA_JHU_cases.csv', index=False)
fl.to_csv(path + 'FL_JHU_cases.csv', index=False)
ny.to_csv(path + 'NY_JHU_cases.csv', index=False)